@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-shadow:hover {
    box-shadow: 0 0 20px #00b7ff;
    transition: all 0.2s linear;
}

.fixed-nav {
    position: fixed;
    width: 100%;
}

@font-face {
    font-family: Fira_sans;
    src: url("./fonts/FiraSans-Regular.ttf");
}

*{
    font-family: Fira_sans;
}